body {
    font-family: 'Spline Sans', sans-serif;
    margin: 0;
    color: #22223b;
}

section {
    background-color: #ffe8d6;
}

.header {
    background-color: #ffe8d6;
    height: 100vh;
}

.introContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px 400px;
}

.tech > img {
    height: 400px;
    width: 450px;
}

.me > img{
    height: 400px;
    width: 300px;
    border: solid white 8px;
    position: relative;
    top: 100px;
    right: 250px;
}

.intro {
    margin-top: 100px;
    margin-left: 20px;
    padding: 20px 20px;
    height: 250;
    width: 400px;
    position: relative;
    right: 250px;
}

.hi {
    background-color: white;
    position: relative;
    right: 100px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 5px;
    width: 330px;
}

.hiDes {
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    width: 350px;
    line-height: 35px;
}

.logo {
    margin: 10px 10px 10px 20px;
}

.logo > a {
    font-family: 'Licorice', cursive;
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 3px;
    color: #22223b;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 30px;
}

li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #22223b;
}

li > a:hover {
    text-decoration: underline;
}

footer {
    background-color: white;
    text-align: center;
    padding: 30px;
}

.aboutMe {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    align-items: center;
    background-color: white;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 400;
}

.info, .imgContainer {
    height: 500px;
}

.info > p {
    padding: 0 40px 0 0;
    letter-spacing: 2px;
    width: 600px;
    line-height: 35px;
    font-size: 12px;

}

.school > img {
    width: 400px;
    height: 300px;
    position: relative;
    bottom: 50px;
    right: 100px;
    opacity: 0.8;
}

.amImg > img {
    width: 300px;
    height: 400px;
    position: relative;
    bottom: 200px;
    left: 50px;
    border: 10px solid gray;
}

.projectCard {
    width: 300px;
    height: 350px;
    box-shadow: 5px 5px 20px #22223b;
    margin: 10px;
    border: 10px solid white;
    border-bottom: 150px solid white;
}

.projectCard:hover {
    box-shadow: 10px 10px 20px #22223b;
}

.projectCard > .des {
    font-size: 15px;
    line-height: 20px;
}

h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.projectCard > p:nth-of-type(1) {
    padding: 0px 30px;
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.projectImg {
    margin-top: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.view {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: #22223b;
    position: relative;
    top: 75px;
    font-size: 25px;
}

.view:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1270px) {
    .school > img, .amImg > img {
        display: none;
    }

    .info {
        text-align: center;
    }

    .info > p {
        padding: 0;
        width: auto;
    }
}


@media only screen and (max-width: 1000px) {
    .cardContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: #22223b;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        margin: 0;
        font-size: 15px;
    }

    li > a {
        color: #22223b;
    }

    li {
        padding: 8px 0;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }

    .logo {
        display: none;
    } 

    .tech {
        display: none;
    }

    .introContainer {
        padding-left: 200px;
    }

    .me > img {
        position: relative;
        bottom: 100px;
        left: 100px;
    }

    .hi {
        position: relative;
        bottom: 150px;
        left: -20px;
    }

    .hiDes {
        position: relative;
        top: 290px;
        left: -15px;
        text-align: center;
    }

    
}

@media only screen and (max-width: 700px) { 
    .me > img {
        height: 300px;
        width: 200px;
    }

    .hi {
        position: relative;
        bottom: 125px;
        left: 45px;
    }

    .hiDes {
        position: relative;
        top: 250px;
        left: 40px;
        text-align: center;
    }

    .info > p {
        line-height: 25px;
    }

    .projectCard > .des {
        line-height: 15px;
    }

}
